* {
  margin:0px;
  padding:0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

p {
  display: block;
  width: 900px;
  margin: 2px;
  font: 15px "Helvetica","DejaVu Sans Mono","Bitstream Vera Sans Mono","Monaco",monospace;
}
