* {
  margin:0px;
  padding:0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.centernore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.largetxt {
  display: block;
  font-size: 20px;
}

p {
  display: block;
  color: white;
  width: 900px;
  margin: 2px;
  font: 15px "Helvetica","DejaVu Sans Mono","Bitstream Vera Sans Mono","Monaco",monospace;
}

.inline {
  display: inline-block;
}
